*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven 
target/
log/

#
# Project specific excludes
#

tomcat
# eclipse project file
.settings/
.classpath
.project
.metadata
.project
bin/

# Intellij
.idea/
*.iml

# Mac
.DS_Store
*.iws
